In [62]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [63]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [64]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [65]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [66]:
onehot_encoder_geo = OneHotEncoder()
encoded_geo = onehot_encoder_geo.fit_transform(data[['Geography']])

In [67]:
encoded_geo.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [68]:
onehot_encoder_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [69]:
encoded_geo_df = pd.DataFrame(encoded_geo.toarray(), columns=onehot_encoder_geo.get_feature_names_out())
encoded_geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [70]:
data = pd.concat([data.drop('Geography', axis=1), encoded_geo_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [71]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [72]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [73]:
# Divide the dataset into training and test sets
X = data.drop('Exited', axis =1)
y = data['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale all features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [74]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [75]:
[X_train.shape[1], ]

[12]

### ANN Implementation

In [76]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping

In [86]:
[X_train.shape[1], ]

[12]

In [77]:
# Building Sequential model - ANN model
model = Sequential([
        Dense(64, activation='relu', input_shape = ([X_train.shape[1], ])), # HL1 connected with input
        Dense(32, activation='relu'), # HL2 connected with first hidden layer
        Dense(1, activation='sigmoid') # output layer
    ]
)

In [78]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [79]:
import tensorflow

opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [80]:
# Compile the Model
model.compile(optimizer = opt, loss = 'binary_crossentropy', metrics = ['accuracy'])

In [81]:
# Set up the Tensorboard
import datetime

log_dir = "logs/fit" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [82]:
# Train the Model
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 100, callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 0.4063 - accuracy: 0.8314 - val_loss: 0.3639 - val_accuracy: 0.8530
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3569 - accuracy: 0.8516 - val_loss: 0.3388 - val_accuracy: 0.8615
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8553 - val_loss: 0.3441 - val_accuracy: 0.8630
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8602 - val_loss: 0.3492 - val_accuracy: 0.8630
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8604 - val_loss: 0.3350 - val_accuracy: 0.8625
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8630 - val_loss: 0.3477 - val_accuracy: 0.8570
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8634 - val_loss: 0.3468 - val_accuracy: 0.8605
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8622 - val_loss: 0.3491 - val_accuracy: 0.8570
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3303 - accuracy: 0.8661 - val_loss: 0.3514 - val_accuracy: 0.8595
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8641 - val_loss: 0.3483 - val_accuracy: 0.8545
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3269 - accuracy: 0.8636 - val_loss: 0.3523 - val_accuracy: 0.8555
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3249 - accuracy: 0.8645 - val_loss: 0.3727 - val_accuracy: 0.8525
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3238 - accuracy: 0.8634 - val_loss: 0.3484 - val_accuracy: 0.8555
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3215 - accuracy: 0.8658 - val_loss: 0.3521 - val_accuracy: 0.8540
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3197 - accuracy: 0.8661 - val_loss: 0.3470 - val_accuracy: 0.8535

In [83]:
model.save('model.h5')

c:\Personal\EndtoEndProject\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [84]:
# Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [85]:
%tensorboard --logdir logs/fit20250115-215042